<strong>Olá, {{ courier }}</strong>
<p>Uma nova encomenda foi cadastrada:</p>
<p>
  <strong>Nome do produto:</strong> {{ name }} <br />
  <br />
  <small>A encomenda já está pronta para ser retirada.</small>
</p>